#topBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  #topBarList {
    float: left;
  }
  
  #topBarList a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #topBarList a:hover {
    background-color: #111;
    /*cursor: url("Pictures/LightSaberClone.gif"), pointer;	*/
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 html, body {
    /*cursor: url("Pictures/LightSaber.gif"), default;*/
  cursor: default;
    /* just change the cursor.ico path to your location */
}

  h1{
    text-shadow: 2px 2px 5px rgb(99, 122, 128);
    text-align: center;
    font-style: italic;
    font-size: 350%;
    color: #1e1e88;
    margin: 0;
  }
  h2{
    text-align: center;
    margin: 1;
  }
  h3{
    text-align: center;
    margin: 0;
  }

  #para0{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    margin: 0;
  
    color: #1e1e88;
    text-shadow: 2px 2px 5px rgb(99, 122, 128);
  }
  #para0 a{
    text-decoration:none;
  }
  #para0 a:hover{
    /*cursor: url("Pictures/LightSaberClone.gif"), pointer;	*/
    cursor: pointer;
  }
  #para1 {

    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    margin: 0;
    color: #1e1e88;
    text-shadow: 2px 2px 5px rgb(99, 122, 128);
   
    }    
  #para1 a{
    text-decoration:none;
    
    }
  #para1 a:hover{
    /*cursor: url("Pictures/LightSaberClone.gif"), pointer;*/
    cursor: pointer;
    }
   #para2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    margin: 0;
    color: #1e1e88;
    text-shadow: 2px 2px 5px rgb(99, 122, 128);

    }   
    #para2 a{
      text-decoration:none;
    }
    #para2 a:hover{
      /*cursor: url("Pictures/LightSaberClone.gif"), pointer;*/
      cursor: pointer;

    }
   #paraEnd {
    text-align: center;
    }    

    body {
      background-image: url("Pictures/background.gif");
      /*background-repeat: no-repeat;
      background-size: cover;*/
    }
    a { 
      color: inherit; 
    } 
