body {
    font-family: 'Londrina Solid';
    background: #f1f1f1;
    margin: 0;
    overflow-x: hidden;
  }
  .topnav {
      overflow: hidden;
      background-color: #333;
    }
    
    .topnav a {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 15px 15px;
      text-decoration: none;
      font-size: 30px;
      /*text-shadow: 5px 5px 15px darkblue;*/
    }
    
    .topnav a:hover {
      background-color: ghostwhite;
      color: black;
    }
    
    .topnav a.active {
      background-color: skyblue;
      color: white;
    }
    
    @media screen and (max-width: 700px) {
      .topnav a {
        font-size: 12px;
      }
      #dropdownbtn{
        font-size: 12px;
      }
      #heropic{
        width: 250px !important;
      }
      #birthdaycard{
        width:170px !important;
        height:170px !important;
      }
    }
  
    /*Loading Screen */
    /* Loading Screen*/
  #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 120px;
      height: 120px;
      margin: -76px 0 0 -76px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid gold;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    .glow {
      font-size: 30px;
      color: #fff;
      text-align: center;
      animation: glow 1s ease-in-out infinite alternate;
    }
    .glownone {
      font-size: 30px;
      color: #fff;
      text-align: center;
      animation: none;
    }
    @keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      
      to {
        text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
      }
    }
  
    /*blog */
    * {
      box-sizing: border-box;
    }
    /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #333;
    
  }
  
  .zoom:hover{
    animation: enlarge 1s ease-in-out infinite alternate;
  }


  @keyframes enlarge {
    from {
      transform: scale(1);
    }
    to{
      transform: scale(1.5);
    }
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .column {   
    float: left;
    width: 100%;
  }
  
  
  
  /* Add a card effect for articles */
  .card {
     background-color: #333;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #333;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn {   
      width: 100%;
      padding: 0;
    }
    h2{
    font-size: 30px;
  }
  }
  
  #blogpost{
    padding: 20px;
  }
  
  h2{
    color:white;
    font-weight: bold;
  }
  h3{
    color:white;
  }
  
  h5{
    color:white;
  }
  
  #heropic{
    width: 500px;
  }
  .coupon {
    border: 5px solid gold;
    width: 80%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .container {
    padding: 2px 16px;
    background-color: #333;
  }

  .promo {
    background: #ccc;
    padding: 3px;
  }
  
  .expire {
    color: red;
  }
  .grad1{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */

  }
  .container2 {
    padding: 2px 16px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */

  }
  #makefaded{
    cursor: default;
  }
  #makefaded2{
    cursor: default;
  }
  #makefaded3{
    cursor: default;
  }
  #makefaded4{
    cursor: default;
  }
  .blowoutcandles{
    opacity: 0.1;
  }
  .lightupcandles{
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
    color: #ffe;
    opacity: 1;
    cursor: default;
  }

  #birthdayText{
      font-family: 'Sofia';
      text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
      color: #ffe;
      font-style: normal;
      font-weight: 400;
      font-size:30px;
    }
  #birthdayName{
    font-family: 'Sofia';
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size:40px;
  }
  #birthdayHead{
    font-family: 'Sofia';
    text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000;
    color: #ddd;
    font-style: normal;
    font-weight: 400;
    font-size:40px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #birthdaycard{
    width:300px;
    height:300px;
  }