html{
    height:100%;
    width:100%;
  }
  body {
      margin: 0;
      padding: 0;
      width:100vw;
      height: 100vh;
      background-color: #eee;
      background-image: url('../Pictures/birthday.jpg');  
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
   
    .loader-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #242f3f;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .loader {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      border: 4px solid #Fff;
      animation: loader 2s infinite ease;
    
    }
    .loader-inner {
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: #fff;
      animation: loader-inner 2s infinite ease-in;
    }
    @keyframes loader {
      0% { transform: rotate(0deg);}
      25% { transform: rotate(180deg);}
      50% { transform: rotate(180deg);}
      75% { transform: rotate(360deg);}
      100% { transform: rotate(360deg);}
    }
    @keyframes loader-inner {
      0% { height: 0%;}
      25% { height: 0%;}
      50% { height: 100%;}
      75% { height: 100%;}
      100% { height: 0%;}
    }
/* gallery */
* {
  box-sizing: border-box;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 100%;
}


/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
  width: 100%;
  height: 100%;
}

/* Make Image shake */
.column img:hover {
  opacity: 1;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.row{
  height: 40%;
  width: 100%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}
/* navbar */

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  
.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  font-size: 17px;
  }
  
.navbar a:hover {
  background: #f1f1f1;
  color: black;
  }
  
.navbar a.active {
  background-color: black;
  color: ghostwhite;
  font-size: 100%;
}
.navbar p1{
  font-size: 300%;

}
  
.navbar a.active:hover p1 {
  color:gainsboro;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
   